.parallax.para_titre {
    filter: opacity(60%) contrast(170%);
}

p.titre_site {
    font-family: kaushan_scriptregular, Roboto, sans-serif;
    font-size: 5em;
    text-align: center;
    /*color: transparent;*/
    margin-top: 10%;
    opacity: 0.7;
    background-color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h2 {
    font-family: kaushan_scriptregular, Roboto, sans-serif;
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('police/kaushanscript-regular-webfont.woff2') format('woff2'),
    url('police/kaushanscript-regular-webfont.woff') format('woff'),
    url('police/KaushanScript-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

ul li {
    font-family: Roboto, Cantarell, sans-serif;
}

footer.page-footer {
    background-color: #cfd8dc;
    margin: 0;
}

p.cm, p.dev, p.content, p.unix{
    text-align: center;
}

i.fa.fa-users, i.fa.fa-code, i.fa.fa-pencil, i.fa.fa-terminal{
    color: #cfd8dc;
    text-shadow: 1px 1px 1px #78909c;
}

i.fa.fa-users:hover, i.fa.fa-code:hover, i.fa.fa-pencil:hover,i.fa.fa-terminal:hover{
    color: #78909c;
    text-shadow: 1px 1px 1px #cfd8dc;
}